@import "../variables";

/*
    WebinarDateTitle
*/

.container__webinar-date-title {
    background-color: $gray-1;
    padding-bottom: 100px;
}

.logo-above-title {
    margin-top: 40px;
}

.webinar-price {
    color: $gray-4;
    font-family: $font-family-default;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 100px;
}

.webinar-title {
    color: $gray-5;
    font-family: $font-family-default;
    font-size: 56px;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 70px;
    margin-top: 90px;
    margin-bottom: 120px;
}

.line {
    box-sizing: border-box;
    height: 68px;
    width: 1px;
    border: 1px solid #dedee3;
}
