@import "../variables";
@import "../section";

.webinar-footer {
    background-color: $gray-1;
    padding-top: 100px;
    padding-bottom: 100px;

    p {
        color: $gray-4;
        font-family: $font-family-default;
        font-size: 18px;
        letter-spacing: 0;
    }
}

.webinar-footer-title {
    @extend .section-title;

    margin-bottom: 30px;
}

.webinar-footer-email {
    @extend .section-paragraph;

    font-weight: 900;

    a,
    a:hover {
        color: $orange;
    }
}
