@import '../variables';

.tg-button {
    width: 230px;
    height: 60px;
    background-color: $orange;
    color: $white;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 30px 0;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    align-self: center;

    &:hover {
        color: $white;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
        background-color: $orange-darker;
    }
}

button.tg-button:active {
    padding: 0;
}
